<div>
  <div class="form-horizontal row">
    <label class="col-xs-2 control-label">Person</label>
    <div class="col-xs-5 selectContainer">
      <select class="form-control" name="size" (change)="onPersonChange($event.target.value)">
        <option disabled selected value> -- select an option --</option>
        <option *ngFor="let row of persons" value="{{row.id}}">{{row.firstName}} {{row.lastName}}</option>
      </select>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-8">
      <div class="form-horizontal row">
        <div class="col-xs-3"></div>
        <div class="col-xs-2">Estimation</div>
        <div class="col-xs-2">Actual</div>
        <div class="col-xs-5">Info</div>
      </div>

      <div *ngFor="let row of estimations" class="form-horizontal row">
        <label class="col-xs-3 control-label">{{row.task.name}}</label>
        <div class="col-xs-2 selectContainer">
          <input type="text" class="form-control" id="estimation" [(ngModel)]="row.estimatedTime" (ngModelChange)="simulate(row.id, row.person.id, row.estimatedTime)" required>
        </div>
        <div class="col-xs-2 selectContainer">
          <input type="text" class="form-control" id="actual" [(ngModel)]="row.actualTime">
        </div>
        <div class="col-xs-5 selectContainer">
          <label class="control-label">{{infoRow(row)}}</label>
        </div>
      </div>
      <div [hidden]="!updateEnabled">
        <button type="button" class="btn btn-success" (click)="updateEstimates()">Update all</button>
      </div>
    </div>
  </div>
</div>
